<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test_03.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B56D84F41E64A750007C10E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B56D850B1E64A751007C10E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B56D85161E64A751007C10E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
